<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>
</head>

<body>
	<main>
		<form class="loginPageForm" action="/admin/login" method="POST">
			<div class="emailArea">
				<label for="email">Email</label>
				<input type="text" name="email" id="title">
			</div>
			<div class="passwordArea">
				<label for="password">Password</label>
				<input type="text" name="password" id="title">
			</div>
			<div class="repeatPasswordArea">
				<label for="repeatPassword">Repeat Password</label>
				<input type="text" name="repeatPassword" id="title">
			</div>
			<div>
				<button class="postBtn" type="submit">Login</button>
			</div>
		</form>
	</main>

	<!-- <script src="script.js"></script> -->
</body>

</html>