@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.grid {
  width: 800px;
  height: 830px;
  margin: auto;
  border-radius: 20px;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  border-radius: 15px;
  box-shadow: 0 0 10px #B2BEB5;
}

.post-form {
  width: 800;
  height: 400px;
  text-align: center;

}

.form-control>input,
textarea {
  width: 800px;
  height: 40px;
  color: black;
  border-radius: 15px;
  border: 1px solid gray;
  margin-top: 5px;
}

.postBtn {
  width: 800px;
  height: 40px;
  color: white;
  background-color: #1b74e4;
  border: none;
  border-radius: 15px;
  margin-left: 85px;
  margin-top: 5px;
}

.card__header {
  margin-top: 35px;
  border-radius: 10px;
}

.header-area {
  width: 750px;
  height: 50px;
  display: inline-flex;
}

.header-area-img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  display: flex;
}

.header-area-firstName {
  width: 350px;
  margin: 0;
  color: black;
  font-size: 15px;
}

.header-area-firs-last-name {
  display: flex;
}

.header-area-firs-last-name>h3 {
  margin: 10px 0 0 10px;
  color: black;
  font-size: 15px;
}

.header-area-time>p {
  width: 750px;
  margin: 0 10px 0 10px;
  color: #999a9d;
  font-size: 10px;
}

.header-area-edit-delete {
  width: 350px;
  margin-top: 10px 0 0 10px;
}

.header-area-edit-delete>form,
a {
  float: right;
  margin: 7px;
  color: #929397;
}

.post-image>img {
  margin: 20px 0 0 0;
  width: 800px;
  height: 500px;
  display: flex;
}

.post-text-area>p {
  width: 750px;
  margin: 0 10px 0 10px;
  font-size: 15px;
}

.icons-comments-part {
  border: 1px solid #bfbfc1;
}

.icons-comments-part {
  padding: 10px;
}

.icons-comments-part-icons {
  display: inline;
}

.fa-thumbs-up {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  padding: 5px;
  background-color: #15a7fb;
  color: white;
  font-size: 15px;
}

.fa-heart {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  padding: 5px;
  background-color: #f0657c;
  color: white;
}

.icons-comments-part-comment>p {
  display: inline;
  float: right;
  color: #838487;
  width: auto;
  height: 20px;
  margin: 0;
  font-size: 15px;
}

.icons-comments-part-comment {
  display: inline;
}

.like-comment-share-icons {
  margin-bottom: 20px;
  width: auto;
  height: 30px;
  color: #838487;
  font-size: 10px;
  padding: 10px;
}

.fa-thumbs-icon {
  display: inline;
}

.fa-comment-icon {
  display: inline;
}

.fa-share-icon {
  display: inline;
}

.fa-thumbs-o-up {
  padding: 10px;
  width: 250px;
}

.fa-comment-o {
  width: 150px;
}

.fa-share {
  width: 250px;
}

.new-comment {
  display: flex;
  margin-top: 10px;

}

.new-comment-image>img {
  width: 40px;
  height: 40px;
  object-fit: fill;
  margin: 5px 0 10px 10px
}

.new-comment-text>p {
  border: none;
  border-radius: 25px;
  background-color: #f0f2f5;
  margin: 0 0 0 10px;
  padding-left: 10px;
}

.new-comment-text-area-like-reply {
  display: inline;

}

.new-comment-text-area>h5,
p {
  margin: 0 0 0 20px;

}

.new-comment-name {
  margin: 0 0 0 20px;
}

.new-comment-text-area {
  margin: 0 0 0 10px;
  background-color: #f0f2f5;
  border-radius: 25px;
  width: 600px;
  height: 45px;
}

.comment-edit-delete {
  display: flex;
}

.new-comment-name {
  display: flex;
  color: #3b0f18;
  /* margin: 5px; */
}

.new-comment-name>h5 {
  margin: 0;
  margin: 0 5px 0 0;
}

.new-comment-like-reply {
  display: flex;
  margin: 0 0 0 20px;
}

.new-comment-like-reply>ul,
li {
  display: flex;
  list-style-type: none;
  margin: 0 5px 0 10px;
  padding: 0;
  font-size: 13px;
  color: #6e7074;

}

.writing-comment-area {
  width: auto;
  height: 50px;
  color: #838487;
  font-size: 15px;
  padding: 10px;
  display: flex;
}

.writing-comment-area-image {
  width: 40px;
  height: 40px;
  object-fit: fill;
  display: flex;
}

.writing-comment-area-input>form>input {
  width: 600px;
  height: 25px;
  border: none;
  border-radius: 15px;
  background-color: #f0f2f5;
  color: #838487;
  margin: 8px 0 0 0;
  outline: none;
}

.writing-comment-area-icons {
  display: inline;
  background-color: #f0f2f5;
}

.card__header h1 {
  margin: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font: inherit;
  color: #656b74;
  background-color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 20px;
}

.btn:hover,
.btn:active {
  background-color: #bfbfc1;
}

.edit-form>input {
  width: 500px;
  height: 20px;
  font-size: 18px;
  background-color: #f0f2f5;
  border: none;
  outline: none;
  margin: 0 0 0 20px;
  border-radius: 15px;
}
